!!!
%html{:lang => "en"}
  %head
    %title Minion Academy
    %meta{:charset => "utf-8"}/
    %meta{:content => "", :name => "Minion Academy App"}/
    %meta{:content => "", :name => "Luke Maciak"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href=>"//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel=>"stylesheet"}
    %link{:href=>"//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css", :rel=>"stylesheet"}

    :css
      body {
        padding: 20px;
      }
      .minion-name {
        padding: 5px;
      }
      .minion-desc {
        padding-left: 15px;
      }

    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/

  %body
    .container
      .header
        .pull-right.text-muted &copy; Luke Maciak
        %a{:href => '/'}
          %h1.text-muted Minion Academy

      
      .content
        =yield


      %hr
      %footer
        .small.text-muted

          Questions?
          %a{:href => 'https://twitter.com/LukeMaciak'}
            %i.fa.fa-twitter
            @LukeMaciak

          .pull-right
            %a{:href => 'https://github.com/maciakl/MinionMaker'}
              %i.fa.fa-github
              source code



    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
